## 라이브러리 로드

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
print(pd.__version__)
print(sns.__version__)

1.2.4
0.11.1

In [ ]:
# 0.11.0 버전에서 변화가 많으니 이 버전 이상을 사용해 주세요. 
# !pip install seaborn --upgrade

## 데이터셋 불러오기
<img src="https://pandas.pydata.org/docs/_images/02_io_readwrite.svg">

In [6]:
# df
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/mpg.csv")
df.shape

(398, 9)

## 데이터셋 일부만 가져오기

In [11]:
# head
df.head(2)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320

In [12]:
# tail
df.tail(4)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [13]:
# sample
df.sample(2)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
106,12.0,8,350.0,180.0,4499,12.5,73,usa,oldsmobile vista cruiser
262,19.2,8,305.0,145.0,3425,13.2,78,usa,chevrolet monte carlo landau

## 매번 봐야 하는 기술통계값 코드 한 줄로 보기 
### Pandas Profiling
* [pandas-profiling/pandas-profiling: Create HTML profiling reports from pandas DataFrame objects](https://github.com/pandas-profiling/pandas-profiling)

In [14]:
# 아래 명령어로 설치합니다.
# 2.8.0 이상 버전에서 폰트 설정방법이 변경되어 아래 버전을 사용을 추천합니다.
# !pip install pandas_profiling==2.8.0

In [15]:
from pandas_profiling import ProfileReport
profile = ProfileReport(df, title="Pandas Profiling Report")

In [18]:
# 주피터 노트북이 있는 위치에 html파일이 생성됩니다.
profile.to_file("pandas_profile_report.html")

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [17]:
# 경고메시지 안나오게하는 법
import warnings
warnings.filterwarnings('ignore')

### sweetviz
* [sweetviz · PyPI](https://pypi.org/project/sweetviz/)
<img src="https://warehouse-camo.ingress.cmh1.psfhosted.org/210c4eb7317c8b0d2e7d0784b1a9697c096050ef/687474703a2f2f636f6f6c74696d696e672e636f6d2f53562f4c61796f75742d416e696d332e676966">

In [19]:
# 아래 명령어로 설치해 주셔야지 사용할 수 있습니다.
# !pip install sweetviz

In [20]:
import sweetviz as sv

my_report = sv.analyze(df)
# 타겟변수 없이 그릴 수도 있고 타겟변수를 지정할 수도 있습니다.
# 타겟변수는 범주형이 아닌 수치, bool 값만 가능합니다. 
# 데이터에 따라 수치형으로 되어있지만 동작하지 않을 수도 있습니다. 
# my_report = sv.analyze(df, target_feat ='mpg')
my_report.show_html()

                                             |          | [  0%]   00:00 -> (? left)

Report SWEETVIZ_REPORT.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [ ]:
## sweetviz 와 판다스 프로파일링의 단점 > 대량의 데이터를 처리하는데이는 적합하지 않다 (시간, 성능) , 한글폰트 호환이슈